<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
  <%- include('./partials/navigation'); %>
  <img src="/images/logo.png" alt="Logo">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- include('./partials/footer'); %>
  </body>
</html>
